# Android / Gradle
*.iml
.gradle
/build
/app/build

# Local config
local.properties

# IntelliJ / Android Studio
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

# Mac
.DS_Store

# Native build
.externalNativeBuild
.cxx

# Captures
/captures
